
@{
    ViewData["Title"] = "Catálogo";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Livros.css" />
}
<div class="col-sm-6">
    <a asp-action="Create" class="btn btn-success h-auto">
        <span>Adicionar Livro</span></a>
</div>

<h1>Catálogo de Livros</h1>

<form method="get" class="search-bar">
    <input type="text" name="search" placeholder="Pesquisar por título ou autor" value="@Request.Query["search"]" />
    <button type="submit">Buscar</button>
</form>


<div class="books-grid">
    <div class="book-card">
        <img src="livro1.jpg" alt="Livro 1">
        <h3>O Pequeno Príncipe</h3>
        <p>Antoine de Saint-Exupéry</p>
        <button>Ver Detalhes</button>
    </div>

    <div class="book-card">
        <img src="livro2.jpg" alt="Livro 2">
        <h3>Dom Casmurro</h3>
        <p>Machado de Assis</p>
        <button>Ver Detalhes</button>
    </div>

    <div class="book-card">
        <img src="livro3.jpg" alt="Livro 3">
        <h3>1984</h3>
        <p>George Orwell</p>
        <button>Ver Detalhes</button>
    </div>
</div>
